---
import { education } from "@cv";
---

<div class="education padd-15">
  <h3 class="title">Education</h3>
  <div class="row">
    <div class="timeline-box padd-15">
      <div class="timeline shdow-dark">
        {
          education.map(({ institution, startDate, endDate, area }) => {
            const startYear = new Date(startDate).getFullYear();
            const endYear =
              endDate != null ? new Date(endDate).getFullYear() : "Actual";
            const years = `${startYear} - ${endYear}`;

            return (
                <div class="timeline-item">
                    <div class="circle-dot"></div>
                    <h3 class="timeline-date">
                        <i class="fa fa-calendar"></i> {years}
                    </h3>
                    <h4 class="timeline-title">{area} </h4>
                    <p class="timeline-text" >{institution}</p>
                </div>
            );
          })
        }
      </div>
    </div>
  </div>
</div>
