---
import { education } from "@cv";
---

<div class="education padd-15">
  <h3 class="title">Education</h3>
  <div class="row">
    <div class="timeline-box padd-15">
        <div class="timeline shdow-dark">
            timline
        </div>
    </div>
  </div>
  <ul>
    {
      education.map(({ institution, startDate, endDate, area }) => {
        const startYear = new Date(startDate).getFullYear();
        const endYear =
          endDate != null ? new Date(endDate).getFullYear() : "Actual";
        const years = `${startYear} - ${endYear}`;

        return (
          <li>
            <article>
              <header>
                <div>
                  <h3>{institution}</h3>
                </div>

                <time>{years}</time>
              </header>

              <footer>
                <p>{area}</p>
              </footer>
            </article>
          </li>
        );
      })
    }
  </ul>
</div>
