---
import { basics } from "@cv";
const { name, label, summary, image } = basics;

let labelArray = label.split(" "),
  ultima = labelArray[labelArray.length - 1],
  primera = label.split(ultima)[0];
---

<section class="home section">
  <div class="container">
    <div class="row">
      <div class="home-info padd-15">
        <h3 class="hello">
          Hola, mi nombre es <span class="nane">{name}</span>
        </h3>
        <h3 class="my-profession">
          Soy {primera}
          <span class="typing">{ultima}</span>
        </h3>
        <p>{summary}</p>
        <a href="contact" class="btn hire-me">Mas sobre mi</a>
      </div>
      <div class="home-img padd-15">
        <span class="h-i"></span>
        <img src={image} alt="" />
      </div>
    </div>
  </div>
</section>
