---
import "@fontsource/poppins";
import "@fontsource/clicker-script";

import "@/styles/styles.css"
import "@/styles/style-switcher.css"

import { basics } from "@cv";

import WorldMap from "@/icons/WorldMap.astro"

interface Props {
  title: string;
}

const { title } = Astro.props;

const { image, summary, url } = basics;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={summary} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" as="image" href={image} />

    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={summary} />
    <meta property="og:image" content="" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={url.split("//")[1] ?? ""} />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={summary} />
    <meta name="twitter:image" content="" />
  </head>
  <body class="colorA dark">
    <main class="main-content">
      <slot />
    </main>
    <div class="style-switcher">
      <div class="style-switcher-toggler s-icon">
        <i class="fas fa-cog fa-spin"></i>
      </div>
      <div class="day-nigth s-icon">
        <i class="fas fa-moon"></i>
      </div>
      <h4>Tema de Colores</h4>
      <div class="colors">
        <span class="colorA" onclick="setActiveStyle('colorA')"></span>
        <span class="colorB" onclick="setActiveStyle('colorB')"></span>
        <span class="colorC" onclick="setActiveStyle('colorC')"></span>
        <span class="colorD" onclick="setActiveStyle('colorD')"></span>
        <span class="colorF" onclick="setActiveStyle('colorF')"></span>
      </div>
    </div>
    <script
      src="https://kit.fontawesome.com/036b039b74.js"
      crossorigin="anonymous"></script>
    <script src="https://unpkg.com/typed.js@2.1.0/dist/typed.umd.js"></script>
    <script type="module" >
      //* Typing animation
      const typed = new Typed(".typing", {
        strings: [" ","Web Designer", "Web Developer", "Graphic Designer"],
        typeSpeed: 100,
        backSpeed: 60,
        loop: true,
      });
    </script>
  </body>
</html>
<script is:inline>
  const styleSwitcherToggle = document.querySelector(".style-switcher-toggler");
  styleSwitcherToggle?.addEventListener("click", () => {
    document.querySelector(".style-switcher")?.classList.toggle("open");
  });

  window.addEventListener("scroll", () => {
    if (document.querySelector(".style-switcher")?.classList.contains("open")) {
      document.querySelector(".style-switcher")?.classList.remove("open");
    }
  });

  const bodyClass = document.body.classList; 
  const themesCalss =  ["colorA", "colorB", "colorC", "colorD", "colorF"]
  function setActiveStyle(color) {
    bodyClass.forEach((c)=>{
      themesCalss.find((c)=>{
        document.body.classList.replace(c, color)
      });
    })
  }

  const dayNigth = document.querySelector(".day-nigth");
  dayNigth.addEventListener("click", () => {
    dayNigth.querySelector("i").classList.toggle("fa-sun");
    dayNigth.querySelector("i").classList.toggle("fa-moon");
    document.body.classList.toggle("dark");
  });
  window.addEventListener("load", () => {
    if (document.body.classList.contains("dark")) {
      dayNigth.querySelector("i").classList.replace("fa-moon", "fa-sun");
    } else {
      dayNigth.querySelector("i").classList.add("fa-moon");
    }
  });
</script>
