---
import "@fontsource/poppins";
import "@fontsource/clicker-script";

import { basics } from "@cv";

interface Props {
  title: string;
}

const { title } = Astro.props;

const { image, summary, url } = basics;
---

<!doctype html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>{title}</title>
    <meta name="description" content={summary} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preload" as="image" href={image} />

    <meta property="og:url" content={url} />
    <meta property="og:type" content="website" />
    <meta property="og:title" content={title} />
    <meta property="og:description" content={summary} />
    <meta property="og:image" content="" />

    <meta name="twitter:card" content="summary_large_image" />
    <meta property="twitter:domain" content={url.split("//")[1] ?? ""} />
    <meta property="twitter:url" content={url} />
    <meta name="twitter:title" content={title} />
    <meta name="twitter:description" content={summary} />
    <meta name="twitter:image" content="" />
    <link rel="stylesheet" href="styles/styles.css">
    <link rel="stylesheet" href="styles/color-1.css">
    <link rel="stylesheet" href="styles/style-switcher.css">
  </head>
  <body>
    <main class="main-content">
      <slot />
    </main>
    <div class="style-switcher">
      <div class="style-switcher-toggler s-icon">
        <i class="fas fa-cog fa-spin"></i>
      </div>
      <div class="day-nigth s-icon">
        <i class="fas fa-moon"></i>
      </div>
      <h4>Tema de Colores</h4>
      <div class="colors">
        <span class="color-1" onclick="setActiveStyle('color-1')"></span>
        <span class="color-2" onclick="setActiveStyle('color-2')"></span>
        <span class="color-3" onclick="setActiveStyle('color-3')"></span>
        <span class="color-4" onclick="setActiveStyle('color-4')"></span>
        <span class="color-5" onclick="setActiveStyle('color-5')"></span>
      </div>
    </div>
  </body>
</html>

<script src="https://kit.fontawesome.com/036b039b74.js" crossorigin="anonymous"
></script>
